@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */

@import url('https://fonts.cdnfonts.com/css/miama');
/*font-family: 'Miama', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
/* font-family: "Oleo Script", system-ui; */

/* univarsal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    background-color: black;
}
:root {
    --primary-color: #FFFFFF;
    --btn-color: #E6533C;
    --gray-fifty: rgba(255, 255, 255, 0.5);
}

/* shared style */
.btn {
    color: var(--primary-color);
    font-size: 1.1rem;
    padding: 14px 40px;
    border-radius: 40px;
    background-color: var(--btn-color);
    border: none;
    cursor: pointer;
}
/* shared style */

/*---- header section ----*/
.header {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.91); */
    background: linear-gradient(95deg, rgba(18,18,18,1) 0%, rgb(17, 17, 17) 95%);
}
.navbar {
    max-width: 80%;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks {
    display: flex;
    gap: 47px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 5px;
}
.nav-item {
    list-style: none;
    font-size: 1.12rem;
    font-weight: 600;
}
.menu {
    display: none;
    color: var(--primary-color);
    font-size: 1.75;
    cursor: pointer;
}
.nav-link {
    text-decoration: none;
    color: var(--primary-color);
}
.home {
    padding: 12px 24px;
    background-color: var(--btn-color);
    border-radius: 47px;
}
.about {
    margin-right: 10px;
}
.logo {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--btn-color);
}

.banner-img {
    position: relative;
    margin-bottom: -4px;
}
.banner {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text {
    flex-basis: 50%;
}
.banenr-img img {
    width: 80%;
    height: 80%;
}
.banner-title {
    font-size: 4.37rem;
    font-weight: 900;
    color: var(--primary-color);
}
.banner-title span {
    font-family: 'Miama', sans-serif;
    font-size: 6rem;
    line-height: 5rem;
}
.banner-des {
    margin: 25px 0;
    font-size: 1rem;
    color: var(--gray-fifty);
}
.button {
    display: flex;
    gap: 14px;
    flex-direction: row;
}
.down-btn {
    background: transparent;
    border: 1px solid var(--gray-fifty);
}
.banenr-img {
    flex-basis: 40%;
    position: relative;
}
.work-out {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 140px;
    padding: 15px;
}
.work-out h2 {
    font-size: 2.5rem;
    width: 900;
    color: var(--primary-color);
}
.work-out p {
    font-size: 0.81rem;
    color: var(--gray-fifty);
}
.tutorial {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: -100px;
    bottom: 85px;
}
.workout {
    position: absolute;
    top: 135px;
    left: 250px;
}
.video-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}
.tutorial-content h2{
    font-size: 1.5rem;
}
.tutorial p {
    font-size: 1rem;
}
/*---- header section ----*/

/*---- habit section ----*/
.habit {
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.87rem;
    color: var(--primary-color);
}
.habit-des {
    text-align: center;
    font-size: 0.87rem;
    margin-bottom: 3.3rem;
    color: var(--gray-fifty);
}
.habit-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}
.habit-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-box img {
    border-radius: 50%;
    margin-bottom: 1.8rem;
}
.habit-box h4 {
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.habit-box p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--gray-fifty);
}
/*---- habit section ----*/

/*---- extra miles section ----*/
.extra-miles {
    width: 80%;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    gap: 3.75rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(34,34,34);     
}
.extra-miles-content {
    flex-basis: 50%;
}
.extra-miles-img {
     flex-basis: 40%;
}
.extra-miles-img img {
    width: 100%;
    height: 320px;
    border-radius: 20px;
    object-fit: cover;
}
.extra-miles-title {
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 0.87rem;
}
.extra-liles-des {
    font-size: 0.87rem;
    line-height: 1.5rem;
    margin-bottom: 2.12rem;
    color: var(--gray-fifty);
}
/*---- hextra miles section ----*/

/*---- hextra miles section ----*/
.food {
    width: 80%;
    margin: 100px auto;
    position: relative;
    color: White;
}
.food video {
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    height: 80%;
    opacity: 0.5;
    border: 2px solid rgb(29, 28, 28);
    box-shadow: 0px 0px 15px 2px rgba(188, 184, 184, 0.237);
}
.food-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.food-title {
    font-family: "Oleo Script", system-ui;
    text-align: center;
    font-size: 3.5rem;
    color: var(--primary-color);
}
.food-des {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 10px 0;
    color: var(--gray-fifty);
}
.food-btn {
    background: transparent;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease-in;
}
.food-btn:hover {
    border-radius: 0%;
    padding: 16px 60px;
    color: black;
    background-color: #ffffffc5;
}
/*---- hextra miles section ----*/

/*---- Bmi section ----*/
.bmi {
    color: var(--primary-color);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bmi-content {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}
.bmi-content h1 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 0.8rem;
}
.bmi-content p {
    font-size: 0.87rem;
    color: var(--gray-fifty);
    line-height: 1.3rem;
}
.bmi-calculator {
    width: 100%;
    margin: 80px 0;
    padding: 50px 150px;
    background-color: rgb(34,34,34);
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.table-caption {
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 3rem;
}
.bmi-table table {
    width: 100%;
    border: 1px solid var(--gray-fifty);
    border-collapse: collapse;
}
table th,td {
    border: 1px solid var(--gray-fifty);
    text-align: left;
    padding: 15px 25px;
}
table th {
    color: var(--primary-color);
    font-size: 1rem;
}
table td {
    color: var(--gray-fifty);
    font-size: 0.87rem;
}
.bmi-calculate-box {
    max-width: 590px;
}
.bmi-calculate-box h2 {
    margin-bottom: 0.8rem;
}
.bmi-calculate-box p {
    font-size: 0.8rem;
    color: var(--gray-fifty);
    margin-bottom: 2rem;
    line-height: 1.3rem;
}
.form-first-row {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.form-first-row input::placeholder {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
 }

input[type="text"],
select {
    width: 50%;
    border-radius: 8px;
    padding: 0.8rem;
    border: none;
    outline: none;
    color: var(--gray-fifty);
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
}
select option {
    color:  rgb(91, 90, 90);
}
.activity {
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}
select.activity option:disabled {
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}
/*---- Bmi section ----*/

/*---- Team section ----*/
.team {
    max-width: 80%;
    margin: 0 auto;
    color: var(--primary-color);
}
.team-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.7rem;
}
.team-des {
    text-align: center;
    font-size: 0.87rem;
    color: var(--gray-fifty);
}
.gallery-box {
    margin-top: 3.1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.1rem;
    padding: 1.4rem;
    display: grid;
    gap: 1.4rem;
    grid-template-columns: repeat(3, 1fr);
}
.trainer-box {
    position: relative;
}
.member-content {
    position: absolute;
    left: 1.2rem;
    bottom: 1.2rem;
}
.trainer-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
    border-radius: 1rem;
    opacity: 0.7;
}
.name {
    font-size: 1.4rem;
}
.position {
    font-size: 1rem;
    color: var(--gray-fifty);
}
/*---- Team section ----*/

/*---- header ----*/
.footer {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-top: 5rem;
    color: var(--primary-color);
}
.footer-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 3.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-des {
    font-size: 0.8rem;
    line-height: 1.4rem;
}
.link {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.link-title {
    font-size: 1.6rem;
    margin-bottom: 2.75rem;
}
.footer-links {
    list-style-type: none;
}
.footer-links li a {
    text-decoration: none;
    color: var(--gray-fifty);
}
.footer-links li {
    margin-bottom: 1.1rem;
}
.copyright {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 2.1rem;
    text-align: center;
}
.copyright hr {
    margin-bottom: 2.1rem;
}
.copyright span {
    font-size: 1.2rem;
    color: var(--gray-fifty);
}
.footer-logo {
    font-size: 3.5rem;
}
/*---- header ----*/

@media  screen and (max-width: 576px) {
    .btn {
        font-size: 0.9rem;
        padding: 14px 40px;
    }
    .banner {
        flex-direction: column;
    }
    .navlinks {
        display: none;
    }
    .menu {
        display: block;
    }
    .banner-title {
        font-size: 3.12rem;
    }
    .banner-img {
        margin-bottom: -4px;
    }
    .workout {
        position: absolute;
        top: 135px;
        left: 210px;
    }
    .work-out h2 {
        font-size: 2.3rem;
    }
    .tutorial {
        left: -1px;
    }
    .tutorial-content h2 {
        font-size: 1.5rem;
    }

    .habit-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-title {
        font-size: 2.5rem;
    }
    .extra-miles {
        flex-direction: column;
        gap: 2rem;
    }
    .extra-miles-img img {
        height: auto;
    }
    .extra-miles-title {
        font-size: 2.2rem;
    }

    .food-btn {
        padding: 5px 20px;
    }
    .food-btn:hover {
        padding: 5px 25px;
    }
    .food-title {
        font-size: 1.4rem;
    }
    .food-des {
        font-size: 0.8rem;
        line-height: 1rem;
        margin: 5px;
    }
   
    .bmi-content {
        margin-left: 40px;
    }
    .bmi-calculator {
        flex-direction: column;
        margin: 40px;
        padding: 40px;
        align-items: self-start;
    }
    .bmi-content h1 {
        font-size: 2rem;
    }
    .table-caption {
        font-size: 1rem;
    }
    .bmi-table h3 {
        margin-bottom: 20px;
    }

    .team-title {
        font-size: 2rem;
    }
    .gallery-box {
        grid-template-columns: repeat(1,1fr);
        margin-top: 2.2rem;
    }
    .trainer-box {
        width: 100%;
        max-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .trainer-box img {
        height: 100%;
        object-fit: cover;
    }
    .hidden-box {
        display: none;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-logo {
        font-size: 2.2rem;
    }  
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner {
        flex-direction: column;   
    }
    .navlinks {
        display: none;
    }
    .menu {
        display: block;
    }
    .habit-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .food-btn {
        padding: 10px 25px;
    }
    .food-title {
        line-height: 2rem;
        font-size: 2rem;
    }
    .food-des {
        line-height: 1rem;
        margin: 5px;
    }
    .food-btn:hover {
        padding: 14px 34px;
    }
    .bmi-calculator {
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 20px;   
        gap: 40px;
    }

    .gallery-box {
        grid-template-columns: repeat(3,1fr);
    }
}