@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* font-family: "Inter", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

/* font-family: "Oleo Script", system-ui; */


/* univarsal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}
:root {
    --primary-color: #FFFFFF;
    --btn-color: #E6533C;
    --gray-fifty: rgba(255, 255, 255, 0.5);
}


/* shared style */
.btn {
    color: var(--primary-color);
    font-size: 18px;
    padding: 16px 40px;
    border-radius: 40px;
    background-color: var(--btn-color);
    border: none;
    cursor: pointer;
}
/* shared style */



/*---- header section ----*/
.header {
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.91); */
    background: linear-gradient(95deg, rgba(18,18,18,1) 0%, rgba(29,29,29,1) 95%);
}
.navbar {
    max-width: 80%;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks {
    display: flex;
    gap: 47px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 5px;
}
.nav-item {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}
.menu {
    display: none;
    color: var(--primary-color);
    font-size: 28px;
    cursor: pointer;
}
.nav-link {
    text-decoration: none;
    color: var(--primary-color);
}
.home {
    padding: 12px 24px;
    background-color: var(--btn-color);
    border-radius: 47px;
}
.about {
    margin-right: 10px;
}
.logo {
    font-size: 34px;
    font-weight: 800;
    color: var(--btn-color);
}

.banner-img {
    position: relative;
    margin-bottom: -3px;
}

.banner {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text {
    flex-basis: 50%;
}

.banenr-img img {
    width: 80%;
    height: 80%;
}
.banner-title {
    font-size: 70px;
    font-weight: 900;
    color: var(--primary-color);
}
.banner-title span {
    font-family: "Oleo Script", system-ui;
}

.banner-des {
    margin: 25px 0;
    font-size: 16px;
    color: var(--gray-fifty);
}

.button {
    display: flex;
    gap: 14px;
    flex-direction: row;
}
.down-btn {
    background: transparent;
    border: 1px solid var(--gray-fifty);
}
.banenr-img {
    flex-basis: 40%;
    position: relative;
}
.work-out {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 140px;
    padding: 15px;
}
.work-out h2 {
    font-size: 40px;
    width: 900;
    color: var(--primary-color);
}
.work-out p {
    font-size: 13px;
    color: var(--gray-fifty);
}
.tutorial {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: -100px;
    bottom: 85px;
}
.workout {
    position: absolute;
    top: 135px;
    left: 250px;
}
.video-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}
.tutorial-content h2{
    font-size: 24px;
}
.tutorial p {
    font-size: 16px;
}

/*---- header section ----*/


/*---- habit section ----*/
.habit {
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.87rem;
    color: var(--primary-color);
}
.habit-des {
    text-align: center;
    font-size: 0.87rem;
    margin-bottom: 3.3rem;
    color: var(--gray-fifty);
}
.habit-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

.habit-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-box img {
    border-radius: 50%;
    margin-bottom: 1.8rem;
}
.habit-box h4 {
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.habit-box p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--gray-fifty);
}
/*---- habit section ----*/

/*---- extra miles section ----*/
.extra-miles {
    width: 80%;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    gap: 3.75rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(34,34,34);     
}
.extra-miles-content {
    flex-basis: 50%;
}
.extra-miles-img {
     flex-basis: 40%;
}
.extra-miles-img img {
    width: 100%;
    height: 320px;
    border-radius: 20px;
    object-fit: cover;
}
.extra-miles-title {
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 0.87rem;
}
.extra-liles-des {
    font-size: 0.87rem;
    line-height: 1.5rem;
    margin-bottom: 2.12rem;
    color: var(--gray-fifty);
}

/*---- hextra miles section ----*/

@media  screen and (max-width: 576px) {

    .banner {
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    .navlinks {
        display: none;
    }
    .menu {
        display: block;
    }
    .banner-title {
        font-size: 50px;
    }
    .banner-img {
        margin: 0 auto;
    }
    .tutorial {
        left: -50px;
    }


    .habit-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-title {
        font-size: 2.5rem;
    }
    .extra-miles {
        flex-direction: column;
        gap: 2rem;
    }
   
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner {
        flex-direction: column;   
    }
    .navlinks {
        display: none;
    }
    .menu {
        display: block;
    }

    .habit-container {
        grid-template-columns: repeat(2, 1fr);
    }
}














